<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyFeed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">

        <!-- Theme CSS -->
        <link href="/stylesheets/grayscale.css" rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Custom Stylesheet -->
        <link href="/stylesheets/main.css" rel="stylesheet">
        
        <!-- Custom Fonts -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- jQuery -->
        <script src="/vendor/jquery/jquery.js"></script>

        <!--Custom js functions-->
        <script src="/js/main.js"></script>

        <!--Google Analytics-->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-17156797-4', 'auto');
        ga('send', 'pageview');

        </script>

    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-custom-page">

        <% 
        function numUnreadNotifs(notifArray) { 
            var count = 0;
            for (var i = 0; i < notifArray.length; i++) {
                if(notifArray[i].isRead == false) {
                    count++;
                }
            }
            return count
        }
        %>

        <!-- Navigation -->
        <nav class="navbar navbar-custom-in-app" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-custom navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <% if(!currentUser){ %>
                        <a class="navbar-brand page-scroll" href="/"><span class="light">MyFeed</span></a>
                    <% } else { %>
                        <a class="navbar-brand page-scroll" href="/articles"><span class="light">MyFeed</span>
                    <% } %>
                    
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                        <a href="/articles"></a>
                        </li>
                        <% if(!currentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <% if ((currentUser.notifications) && (currentUser.notifications.length > 0) && (numUnreadNotifs(currentUser.notifications) > 0)) { %>
                                        <span class="badge notif-badge"><%= numUnreadNotifs(currentUser.notifications) %></span>
                                    <% } else { %>
                                        <span class="badge">0</span>
                                    <% } %>
                                    Notifications  
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <% if (currentUser.notifications && currentUser.notifications.length > 0) { %>
                                        <% currentUser.notifications.reverse().forEach(function(notification) { %>
                                            <% if (notification.isRead == false) { %>
                                                <li>
                                                    <a href="/notifRedirect?redirect=<%=notification.link%>&notifId=<%=notification.id%>">
                                                        <span class="glyphicon glyphicon-dot" aria-hidden="true"></span> <%= notification.message %>
                                                    </a>
                                                </li>
                                            <% } else { %>
                                                <li><a href="<%=notification.link%> "><%= notification.message %></a></li>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <form id="notifs-read-form" action="/user/<%=currentUser.id%>/notifs-read" method="POST">
                                            <a onclick="document.getElementById('notifs-read-form').submit();" href="javascript:{}">Mark All as Read</a>
                                        </form>
                                    </form>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/user/<%= currentUser.id %>"><%=currentUser.username%></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container">
            <div class="row">
                <% if(error && error.length > 0) {  %>
                    <div class="alert alert-danger flash" role="alert">
                        <%= error %>
                    </div>
                <% } else if(success && success.length > 0) { %>
                    <div class="alert alert-success flash" role="alert">
                        <%= success %>
                    </div>
                <% } %>
            </div>
        </div>

        <!--todo: add ejs functions from index.ejs here-->

        