<% include ./partials/header %>

<div class="container">
    <div class="row col-lg-8 col-md-offset-2 text-center">
        <div class="page-header">
            <h1><%= user.username %>'s posts</h1>
            <p>
                Joined on <%= moment(user.createdAt).format("MMMM D, YYYY") %>. 
                Posted <%= articles.length %> Article<%= (articles.length > 1) ? 's' : '' %>.             
            </p>
                <% if (!currentUser) { %>
                    <p>
                        <form action="/user/follow/<%= user._id %>/" method="POST">
                            <button class="btn btn-default btn-lg"></span>Login to follow this user</button>
                        </form>
                    </p>
                <% } else if ((user.username !== currentUser.username) && (!isFollowing)) { %>
                    <p>
                        <form action="/user/follow/<%= user._id %>/" method="POST">
                            <button class="btn btn-default btn-lg"></span>Follow</button>
                        </form>
                    </p>
                <% } %>
        </div>
        <div>
            <% articles.reverse().forEach((function(article, index) { %>
                <div class="panel panel-default" style="margin-bottom: 5px;">
                    <div class="panel-body text-left" style="padding-bottom: 0px;">
                        <h4>
                            <a href="<%=article.url%>"><%= article.title %></a>
                        </h4>
                        <div><small><%= article.publication %></small></div>
                        <p>
                            <small>posted on <%= moment(article.createdAt).format(momentFormat) %></small>
                        </p>
                        <p><em><%= article.articleDesc %></em></p>
                    </div>
                    <div class="panel-footer text-left">
                        <a href="/articles/<%= article._id %>" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments (<%=article.comments.length + 1%>)
                        </a>
                        <button id="share-button" type="button" class="btn btn-default btn-sm" onclick="showShareLink(<%=index%>)">
                            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
                        </button>
                        <% if (currentUser && article.author.id && article.author.id.equals(currentUser._id)) { %>  
                            <form class="pull-right" action="/articles/<%= article._id %>/?_method=DELETE" method="POST">
                                <button class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
                            </form>
                            <a href="/articles/<%= article._id %>/edit" type="button" class="btn btn-default btn-sm pull-right">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        <% } %>
                        <span id="copied-message" style="margin-left: 1.0em; display: none;">Copied!</span>
                        <input id="share-link" style="margin-top: 10px; display: none;" class="form-control" type="text" value="http://localhost:3000/articles/<%=article._id%>"></input>
                    </div>
                </div>
            <% })); %>
        </div>
        <div>
            <% if ((currentUser) && (user.username !== currentUser.username) && (isFollowing)) { %>
                <p>
                    <form action="/user/unfollow/<%= user._id %>/" method="POST">
                        <button class="btn btn-danger btn-lg"></span>Unfollow</button>
                    </form>
                </p>
            <% } %>
        </div>
    </div>
</div>



<% include ./partials/footer %>