<% include ../partials/header %>

<!--User-defined js functions for ejs-->
<%
    function isInMongoArray(mongoArray, id) {
        for (var i=0; i < mongoArray.length; i++) {
            if (mongoArray[i]._id.equals(id)) {
                return true
            }
        }
        return false
    }

    function isUsernameInMongoArray(mongoArray, username) {
        for (var i=0; i < mongoArray.length; i++) {
            if (mongoArray[i].username.toLowerCase().split(' ').join('') == username.toLowerCase().split(' ').join('')) {
                // normalize for case and whitespace to be safe
                return true
            }
        }
        return false
    }

    function isIdInMongoArray(mongoArray, id) {
        for (var i=0; i < mongoArray.length; i++) {
            if (mongoArray[i]._id == id) {
                return true
            }
        }
        return false
    }
%>

<!--Remove the facebook redirect bug-->
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>

<div class="container">
    <div class="row col-lg-12">
        <div class="page-header">
            <h1>Article Feed</h1>
            <h4 style="font-weight: 400;">All of your friends' recommendations</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <h3>Filters</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li id="feed-following" role="presentation"><a href="/articles">Following</a></li>
                    <li id="feed-all" role="presentation"><a href="/articles/all">All Users</a></li>
                    <li id="feed-saved" role="presentation"><a href="/articles/saved">Saved</a></li>
                </ul>
            </div>
            <hr>
            <h3>Suggestions</h3>
            <div>
                <% if (friends) { %>
                    <button class="btn btn-default btn-md btn-block btn-suggest" id="fb-expand"><strong>Facebook Friends</strong></button>
                    <ul id="fb-list" style="display: none;" class="list-group">
                        <% if (friends && friends.length > 0) { %>
                            <% friends.forEach(function(friend) { %>
                                <li class="list-group-item">
                                    <form class="form-inline" action="/user/follow/<%= friend.id %>/fb" method="POST">
                                        <% if (currentUser && isUsernameInMongoArray(currentUser.following, friend.name)) { %>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Following
                                        <% } else { %>
                                            <button name="follow" class='btn btn-sm btn-default'>Follow</button>
                                        <% } %>
                                        <label for="follow"><%= friend.name %></label>
                                    </form>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <li class="list-group-item">Go tell your facebook friends to join!</li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
            <div>
                <button class="btn btn-default btn-md btn-block btn-suggest" id="top-user-expand"><strong>Top Users</strong></button>
                <ul id="top-user-list" style="display: none;" class="list-group">
                    <% if (topUsers && topUsers.length > 0) { %>
                        <% topUsers.forEach(function(topUser) { %>
                            <li class="list-group-item">
                                <!--<span class="badge"><%= topUser.followers.length %></span>-->
                                <form class="form-inline" action="/user/follow/<%= topUser.id %>/local" method="POST">
                                    <% if (currentUser.username == topUser.username) { %>
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> You
                                    <% } else if (currentUser && isIdInMongoArray(currentUser.following, topUser.id)) { %>
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Following
                                    <% } else { %>
                                        <button name="follow" class='btn btn-sm btn-default'>Follow</button>
                                    <% } %>
                                    <label for="follow"><a href="/user/<%=topUser._id%>"><%= topUser.username %> </a></label>
                                </form>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <li class="list-group-item">No suggestions</li>
                    <% }%>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <button id="new-post-button" style="margin-bottom: 0.5em" class="btn btn-lg btn-default" >New Post</button>
            <div id="new-post-form" style="display: none;">
                <form action="/articles" method="POST" style="margin-bottom: 40px;">
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="url-input">Article Link</label>
                        <input id="url-input" class="form-control" type="text" name="url" placeholder="(include 'http')">
                    </div>
                    <div class="form-group">
                        <label for="comment-input">Your Comments</label>
                        <textarea id="comment-input" class="form-control" required="true" rows="8" name="desc"></textarea>
                    </div>
                    <% if (taggableUsers.length > 0) { %>
                        <div class="form-group">
                            <label for="tagUsersSelector">Tag Friends</label>
                            <select multiple name="taggedFriends" class="form-control" id="tagUsersSelector" size=8>
                                <% taggableUsers.forEach(function(taggableUser) { %>
                                    <option value="<%= taggableUser.id %>"><%=taggableUser.username %> </option>
                                <% }) %>
                            </select>
                            <p class="help-block">They will be notified of your post. Tag multiple with shift+click or ctrl/cmd+click.</p>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
            <% if (articles.length == 0) { %>
                   <% if (highlight == "saved") { %>
                        <h4 class="text-center empty-feed">Go save some articles!</h4>
                   <% } else { %>
                        <div class="empty-feed well" style="padding: 4%;">
                            <h1>Getting Started</h1>
                            <ol class="getting-started-list">
                                <h4><li>Post an article using the form above! We've pre-populated it with a sample url. It'll show up in your feed and your <a href="/user/<%=currentUser._id%>">public profile</a>.</li></h4>
                                <h4><li>Check out the <a href="/articles/all">All Users</a> feed to see what others are posting, and comment on anything you find interesting</li></h4>
                                <h4><li>Follow other users to see their posts</li></h4>
                                <h4><li>Link your friends straight to discussions with the share button</li></h4>
                                <h4><li>Check your feed daily to see what others have added</li></h4>
                            </ol>
                            <h5 style="margin-top: 10%;">P.S. I'm thrilled that you've signed up. 150 magical elves and I have been working around the clock to make article sharing better, and we all hope you enjoy your time here. If you have <strong>any</strong> thoughts or concerns, shoot us an email at <a href="mailto:info@myfeed.cool">info@myfeed.cool</a>. You'll definitely get cool points.</h5>
                            <h5 class="text-right">-Noah</h5>
                        </div>
                   <% } %>
            <% } else { %>
                <div>
                </div>
                <% articles.reverse().forEach((function(article, index) { %>
                    <div class="panel panel-default" style="margin-bottom: 5px;">
                        <div class="panel-body" style="padding-bottom: 0px;">
                            <h3 style="margin-top: 5px;">
                                <a href="/user/<%= article.author.id.toString() %>/">
                                    <%= article.author.username %>
                                </a> 
                                <div>
                                    <small>posted on <span style="display: none;" id="moment"><%= article.createdAt %></span></small>
                                </div>
                            </h3>
                            
                            <p class='pre-wrap'><%= article.desc %></p>
                            <% if (article.taggedUsers.length > 0) { %>
                                <div>
                                    cc
                                    <% article.taggedUsers.forEach(function(taggedUser) { %>
                                        <span> <a href="/user/<%= taggedUser.id %>">@<%= taggedUser.username %></a></span>
                                    <% }) %>
                                </div>
                            <% } %>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4><a href="<%=article.url%>"><%= article.title %></a></h4>
                                    <p><small><%= article.publication %></small></p>
                                    <p><em><%= article.articleDesc %></em>...</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">                            
                            <a href="/articles/<%= article._id %>" type="button" class="btn btn-default btn-sm pull-left btn-sm-wide">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments (<%=article.comments.length + 1%>)
                            </a>

                            <% if (isInMongoArray(currentUser.savedArticles, article._id)) { %>
                                <form action="/articles/unsave/<%= article._id%>" method="POST" class="pull-left">
                                    <button class="btn btn-default btn-sm btn-sm-wide pull-left"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Unsave</button>
                                </form>
                            <% } else { %>
                                <form action="/articles/save/<%= article._id%>" method="POST" class="pull-left">
                                    <button class="btn btn-default btn-sm btn-sm-wide pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Save</button>
                                </form>
                            <% } %>
                            
                            <button id="share-button" class="btn btn-default btn-sm btn-sm-wide" onclick="showShareLink(<%=index%>)">
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
                            </button>
                            <% if (currentUser && article.author.id && article.author.id.equals(currentUser._id)) { %>  
                                <form class="pull-right" action="/articles/<%= article._id %>/?_method=DELETE" method="POST">
                                    <button class="btn btn-default btn-sm btn-sm-wide pull-right"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
                                </form>
                                <a href="/articles/<%= article._id %>/edit" type="button" class="btn btn-default btn-sm btn-sm-wide pull-right">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                </a>
                            <% } %>
                            <span id="copied-message" style="margin-left: 1.0em; display: none;">Copied!</span>
                            <input id="share-link" style="margin-top: 10px; display: none;" class="form-control" type="text" value="http://www.myfeed.cool/articles/<%=article._id%>"></input>
                        </div>
                    </div>
                <% })); %>
            <% } %>
        </div>
    </div>
</div>

<!-- moment.js for datetime localization -->
<script src="/js/moment.js"></script>

<script>
    $("#fb-expand").click(function() {
        $("#fb-list").toggle("fast");
    });

    $("#top-user-expand").click(function() {
        $("#top-user-list").toggle("fast");
    });

    $("[id=moment]").each(function(obj) {
        this.innerHTML = moment(this.innerHTML).local().format("MMMM D, h:mm a");
        this.style.display = "inline";
    });

    function expandForm() {
        $("#new-post-form").toggle("fast", "swing");
        $("#url-input").focus();
    }

    $("#new-post-button").click(expandForm);

    var highlight = "<%=highlight%>";
    if ((<%= articles.length %> == 0) && (highlight == "following")) { 
        $("#new-post-form").show("slow", "swing");
        $('#url-input').val($('#url-input').val() + "http://business.financialpost.com/feature/the-cryptocurrency-prophet/wcm/faf71b6d-df9b-42dd-9ede-ba35725957c5");
        $("#url-input").focus();
     }

    if (highlight == "following") {
        $("#feed-following").addClass("active");
    } else if (highlight == "saved") {
        $("#feed-saved").addClass("active");
    } else if (highlight == "all") {
        $("#feed-all").addClass("active");
    }

</script>

<% include ../partials/footer %>