<% include ../partials/header %>

<div class="container">
    <div class="row col-lg-12">
        <div class="page-header">
            <h1>Article Feed <small>All of your friends' recommendations</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Feed Filters</h3>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Friends</a></li>
                <li role="presentation"><a href="#">Mine</a></li>
                <li role="presentation"><a href="#">Recommended</a></li>
            </ul>
        </div>
        
        <div class="col-md-9">
            
                <% articles.forEach((function(article) { %>
                    <div class="panel panel-default" style="margin-bottom: 5px;">
                        <div class="panel-body" style="padding-bottom: 0px;">
                            <h3 style="margin-top: 5px;"><a href="/user/1234"><%= article.author.username %></a> 
                            <small>Submitted 2 hours ago</small>
                            <% if (currentUser && article.author.id && article.author.id.equals(currentUser._id)) { %>  
                                <form class="pull-right" action="/articles/<%= article._id %>/?_method=DELETE" method="POST">
                                    <button class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
                                </form>
                                <a href="/articles/<%= article._id %>/edit" type="button" class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                </a>
                            <% } %>
                            </h3>
                            
                            <p><%= article.desc %></p>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4><a href="<%=article.url%>"><%= article.title %></a></h4>
                                    <p><small><%= article.articleAuthor %> | <%= article.publication %></small></p>
                                    <p><em><%= article.articleDesc %></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
                            </button>
                            <a href="/articles/<%= article._id %>" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments (<%=article.comments.length%>)
                            </a>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add To List
                            </button>
                        </div>
                    </div>
                <% })); %>
        </div>
    </div>
</div>
        
<% include ../partials/footer %>