<% include ../partials/header %>

<div class="container">
    <div class="row col-lg-12">
        <div class="page-header">
            <h1>Article Feed <small>All of your friends' recommendations</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Feed Filters</h3>
            <ul class="nav nav-pills nav-stacked">
                <li id="feed-following" role="presentation"><a href="/articles">Following</a></li>
                <li id="feed-all" role="presentation"><a href="/articles/all">All Users</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <% if (articles.length == 0) { %>
                <a href="/articles/new" class="btn btn-block btn-lg btn-info" style="margin-top: 30%; padding: 1.0em;">Post an article or add some friends to populate your feed!</a>
            <% } else { %>
                <% articles.reverse().forEach((function(article, index) { %>
                    <div class="panel panel-default" style="margin-bottom: 5px;">
                        <div class="panel-body" style="padding-bottom: 0px;">
                            <h3 style="margin-top: 5px;">
                                <a href="/user/<%= article.author.id.toString() %>/">
                                    <%= article.author.username %>
                                </a> 
                                <div>
                                    <small>posted on <%= moment(article.createdAt).format(momentFormat) %></small>
                                </div>
                            </h3>
                            
                            <p><%= article.desc %></p>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4><a href="<%=article.url%>"><%= article.title %></a></h4>
                                    <p><small><%= article.publication %></small></p>
                                    <p><em><%= article.articleDesc %></em>...</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">                            
                            <a href="/articles/<%= article._id %>" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments (<%=article.comments.length + 1%>)
                            </a>
                            <button id="share-button" type="button" class="btn btn-default btn-sm" onclick="showShareLink(<%=index%>)">
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
                            </button>
                            <% if (currentUser && article.author.id && article.author.id.equals(currentUser._id)) { %>  
                                <form class="pull-right" action="/articles/<%= article._id %>/?_method=DELETE" method="POST">
                                    <button class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
                                </form>
                                <a href="/articles/<%= article._id %>/edit" type="button" class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                </a>
                            <% } %>
                            <span id="copied-message" style="margin-left: 1.0em; display: none;">Copied!</span>
                            <input id="share-link" style="margin-top: 10px; display: none;" class="form-control" type="text" value="http://localhost:3000/articles/<%=article._id%>"></input>
                        </div>
                    </div>
                <% })); %>
            <% } %>
        </div>
    </div>
</div>

<script>
    var allArticles = <%=allArticles%>;
    console.log(allArticles);
    if (allArticles === true) {
        $("#feed-all").addClass("active");
    } else {
        $("#feed-following").addClass("active");
    }
</script>

<% include ../partials/footer %>