<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <a href="/articles/<%= article._id %>/edit" type="button" class="btn btn-default btn-md pull-right">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
            <h2>
                <%= article.title %>
            </h2>
            <p><small><%= article.author %> | <%= article.publication %></small></p>
            <p><%= article.articleDesc %></p>
            <p>Posted by <%= article.userId %></p>
            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="/articles" role="button">Back to Feed</a>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">nomac</h4><small>Posted 1 hour ago</small>
                    <p><%= article.userDesc %></p>
                </div>
            </li>
            <hr>
            <% article.comments.forEach(function(comment) { %>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading"><%= comment.author %></h4><small>Posted 1 hour ago</small>
                        <p><%= comment.text %></p>
                    </div>
                </li>
            <% }); %>
            <p class="text-center">
                <a class="btn btn-success" href="/articles/<%= article._id %>/comments/new">New Comment</a>
            </p>
        </ul>
    </div>
</div>

<% include ../partials/footer %>