<% include ../partials/header %>

<div class="container">
    <div class="row top-div">
        <div class="jumbotron">
            <% if (currentUser && article.author.id && article.author.id.equals(currentUser._id)) { %>  
                <form class="pull-right" action="/articles/<%= article._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-default btn-md btn-sm-wide pull-right"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
                </form>
                <a href="/articles/<%= article._id %>/edit" type="button" class="btn btn-default btn-md btn-sm-wide pull-right">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                </a>
            <% } %>
            <h2>
                <%= article.title %>
            </h2>
            <p><small><%= article.publication %></small></p>
            <p>
                <%= article.articleDesc %>... 
                (<a href="<%=article.url%>">Read More</a>)
            </p>
            <p><strong>Posted by <a href="/user/<%= article.author.id.toString() %>/"><%= article.author.username %></a> on <span style="display: none;" id="moment"><%= article.createdAt %></span></strong></p>
            <div>
                <strong>Tagged: </strong>
                <% article.taggedUsers.forEach(function(tagged) { %>
                    <span><a href="/user/<%= tagged.id %>">@<%= tagged.username %></a></span>
                <% }); %>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="/articles" role="button">Back to Feed</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="/user/<%= article.author.id.toString() %>/">
                                <%= article.author.username %>
                            </a> (OP)
                        </h4>
                        <p><em><span style="display: none;" id="moment"><%= article.createdAt %></span></em></p>
                        <p class='pre-wrap'><%= article.desc %></p>
                    </div>
                </li>
                <hr>
                <% if (!currentUser) { %>
                    <div class="alert alert-warning"><a href="/login?redirect=<%=currentRoute%>">Login</a> or <a href="/register?redirect=<%=currentRoute%>">sign up</a> to comment and see the discussion!</div>
                <% } else { %>
                    <% article.comments.forEach(function(comment) { %>
                        <li class="media">
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="/user/<%= comment.author.id.toString() %>/">
                                        <%= comment.author.username %>
                                    </a> 
                                    <% if (comment.author.username == article.author.username) { %>
                                        <span> (OP)</span>
                                    <% } %>
                                </h4>
                                <p><em><span style="display: none;" id="moment"><%= comment.createdAt %></span></em></p>
                                <p class="pre-wrap"><%= comment.text %></p>
                                <% if (comment.taggedUsers) { %>
                                    <div>
                                        cc
                                        <% comment.taggedUsers.forEach(function(taggedUser) { %>
                                            <span><a href="/user/<%= taggedUser.id %>">@<%= taggedUser.username %></a></span>
                                        <% }) %>
                                    </div>
                                <% } %>
                                <% if (currentUser && comment.author.id && comment.author.id.equals(currentUser._id)) { %>
                                    <form class="pull-left" action="/articles/<%= article._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button>
                                    </form>
                                    <a href="/articles/<%= article._id %>/comments/<%= comment._id %>/edit" type="button" class="btn btn-default btn-xs pull-left">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                    </a>
                                <% } %>
                            </div>
                        </li>
                    <% }); %>
                    <!--<p class="text-center">
                        <a class="btn btn-success" href="/articles/<%= article._id %>/comments/new">New Comment</a>
                    </p>-->
                    <div style="margin-top: 30px;">
                        <form action="/articles/<%= article._id %>/comments" method="POST">
                            <div class="form-group">
                                <label for="comment-box">Comment</label>
                                <textarea id='comment-box'class="form-control" type="text" rows="5" name="comment[text]" placeholder="Comment"></textarea>
                            </div>
                            <% if (taggableUsers.length > 0) { %>
                                <div class="form-group">
                                    <label for="tagUsersSelector">Tag Friends</label>
                                    <select multiple name="taggedFriends" class="form-control" id="tagUsersSelector" size=5>
                                        <% taggableUsers.forEach(function(taggableUser) { %>
                                            <option value="<%= taggableUser.id %>"><%=taggableUser.username %> </option>
                                        <% }) %>
                                    </select>
                                    <p class="help-block">They will be notified of your post. Tag multiple with shift+click or ctrl/cmd+click.</p>
                                </div>
                            <% } %>
                            <div class="margin-top: 55px;">
                                <button class="btn btn-md btn-block btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<script src="/js/moment.js"></script>
<script>
    $("[id=moment]").each(function(obj) {
        this.innerHTML = moment(this.innerHTML).local().format("MMMM D, h:mm a");
        this.style.display = "inline";
    });
</script>

<% include ../partials/footer %>